<div class="background">
  <div class="container">
      <div class="col-12">
          <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="text-center">
                  <label class="title"><strong>Inicio Sesión</strong></label>
                </div>
                <div class="form-group">
                  <label for="email"><strong>Correo electrónico:</strong></label>
                  <input type="email" class="form-control" id="email" formControlName="email" placeholder="maria@mail.com">
                </div>
                <div [hidden]="loginForm.controls['email'].valid">
                  <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert alert-danger">
                    Campo obligatorio.
                  </div>
                  <div *ngIf="loginForm.controls['email'].hasError('minlength') && loginForm.controls['email'].touched" class="alert alert-danger">
                    Correo electrónico debe tener mínimo 5 caracteres.
                  </div>
                  <div *ngIf="loginForm.controls['email'].hasError('maxlength') && loginForm.controls['email'].touched" class="alert alert-danger">
                    Correo electrónico debe tener máximo 50 caracteres.
                  </div>
                  <div *ngIf="loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].touched" class="alert alert-danger">
                    Correo electrónico con formato inválido.
                  </div>
                </div>
                <div class="form-group">
                  <label for="password"><strong>Contraseña:</strong></label>
                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="*******">
                </div>
                <div [hidden]="loginForm.controls['password'].valid">
                  <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">
                    Campo obligatorio.
                  </div>
                  <div *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" class="alert alert-danger">
                    La contraseña debe tener mínimo 5 caracteres.
                  </div>
                  <div *ngIf="loginForm.controls['password'].hasError('maxlength') && loginForm.controls['password'].touched" class="alert alert-danger">
                    La contraseña debe tener máximo 20 caracteres.
                  </div>
                </div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="!signIn">
                  <span class="alert-link">Correo electrónico</span> o <span class="alert-link">Contraseña</span> incorrectos.
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">
                    Ingresar
                  </button>
                </div>
            </form>
        </div>
      </div>
  </div>
</div>