.background {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/login-fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    padding-top: 150px;
}.form-group label {
    color: white;
}.title {
    color: white;
    font-size: 1.5em;
}